@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body{
	color: #333;
	font-family: 'Nanum Gothic'
}
section#wrap{
	margin: auto;
}
#wrap > header{
	width: 1200px;
	height: 210px;
	margin: 0 auto;
	position: relative;
}

header > h1 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 80px;
	top: 60px;
}
/*싱싱배송 배너 css*/
header > span{
	position: absolute;
	display: block;
	top: 50px;left: 12px;
	width: 180px;
	height: 100px;
}
header > span > a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;

}
header > span > a >img{
	display: block;
	margin: auto;
	cursor: pointer;
	margin-bottom: 10px;
}
header > span > a > strong{
	color: #7ccc1e;
	font-weight: bold;
}

/*tnb css*/

header > nav.tnb{
	position: absolute;
	top: 10px;right: 0;
	width: 500px;
	height: 30px;
}
.tnb > a{
	display: block;
	float: left;
	width: 100px;
	height: 100%;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
}

/*gnb css*/

nav.gnb{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	margin: auto;
}

.gnb > ul {
	width: 100%;
	height: 100%;
}
.gnb > ul > li{
	float: left;
	width: 200px;
	height: 100%;
}
.gnb > ul > li > a{
	display: block;
	width: 100%;height: 100%;
	text-align: center;
	line-height: 40px;
}

.gnb > ul > li > a:hover{
	background: #96be0d;
	color: #fff;
}

/*gnb li 하위요소 css*/

.gnb > ul > li > ul{
	background: rgba(255,255,255,0.5);
	width: 100%;
overflow: hidden;
	display: none;
	position: relative;
	z-index: 1
}
.gnb > ul > li:hover > ul{
	display: block;
}
.gnb > ul > li > ul > li {
	width: 100%;
	height: 40px;
}
.gnb > ul > li > ul > li > a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
}
.gnb > ul > li > ul > li > a:hover{
	font-weight: bold;
}

/*컨텐츠 영역*/

#contents{
	background: #f5fcec;
	margin: auto;
	padding-top: 100px;
	overflow: hidden;
}

#contents > .contents01{
	width: 1200px;
	margin: 0 auto;
}

.contents01 > h2{
	color: #3ea61a;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.contents01 > h3{
	text-align: center;
}
.contents01 > img:nth-of-type(-n+1){
	display: block;
	width: 800px;
	margin: 20px auto;
	margin-bottom: 50px;
}
.contents01 > p:nth-of-type(-n+1){
	font-size: 20px;
	text-align: center;
	line-height: 1.8;
	margin-bottom: 50px;
}
.contents01 > em{
	display: block;
	font-size: 40px;
	font-family: 'Nanum Pen Script', cursive;
	color: #4a7808;
	font-style: normal;
	width: 400px;
 	background: url(../img/pe03.png)no-repeat;
	background-position: right 0;
	margin: 80px auto;

}
.contents01 > i{
	font-style: normal;
	font-size: 20px;
	text-align: center;
	margin: 100px auto;
	display: block;
}
.contents01 > i > strong{
	font-size: 23px;
	color: #39b90c;
}
.contents01 > img:nth-of-type(n+2){
	display: block;
	width: 800px;
	margin: auto;
}
.contents01 > p:nth-of-type(n+2){
	margin: 100px auto;
	margin-bottom: 200px;
	font-size: 20px;
	text-align: center;
	line-height: 1.8;
}
.contents01 > p:nth-of-type(n+2) > strong{
	font-size: 25px;
	color: #b0d826;
	text-shadow: 1px 1px #333;
}

/*푸터 영역css*/
footer{
	width: 100%;
	overflow: hidden;
	background: #3b3b3b;
	margin: auto;
}

footer > nav{
	width: 100%;height: 50px;
	border-bottom: 1px solid #c4c4c4;
	margin: 0 auto;
}
footer > nav > ul{
	width: 1200px;height: 50px;
	margin:0 auto;
}
footer > nav > ul > li{
	width: 160px;height: 50px;
	float: left;
}
footer > nav > ul > li:nth-of-type(-n+3){
	width: 120px;
}
footer > nav > ul > li > a{
	display: block;
	color: #bababa;
	text-align: center;
	line-height: 50px;
	width: 100%;height: 50px;
	font-size: 14px;
}
footer > nav > ul > li:nth-of-type(n+7){
	float: right;
	width: 60px;height: 50px;
}
footer > nav > ul > li:nth-of-type(n+7) > a{
	background: #71cc23;
	color: #fff;
}
footer .ft_text{
	width: 1200px;
	height: 130px;
	margin: 15px auto;
}
.ft_text > span:nth-of-type(-n+1){
	display: block;
	color: #fff;
	font-size: 20px;
	width: 150px;
	height: 100px;
	line-height: 1.5;
	float: left;
	padding-left: 20px
}
.ft_text > span > strong{
	font-size: 27px;
}
.ft_text > span:nth-of-type(n+2){
	display: block;
	color: #fff;
	width: 320px;
	height: 100px;
	float: left;
	margin-left: 20px;
	line-height: 1.5;
	font-size: 14px
}
.ft_text > address{
	display: block;
	color: #fff;
	width: 630px;
	float: left;
	font-style: normal;
	font-size: 14px;
	line-height: 1.5
}
.ft_text > p:nth-of-type(-n+1){
	color: #8d8d8d;
	width: 700px;
	height:70px;
	float: right;
	text-align: right;
}
.ft_text > p:nth-of-type(n+2){
	width: 300px;
	float: left;
}

.ft_text > p:nth-of-type(n+2) > a{
	width:150px;
	height: 50px;
	display: block;
}

